:root{
  --azul-dnc: #0C70F2;
  --preto-dnc: #303030;
  --cinza-hover: #F2F2F2;
  --fonte-padrao: 'Inter';
}

body{
  margin: 0px  !important;
  padding: 0px;
  background-color: var(--cinza-hover) !important;
}
main{
  background-color: var(--cinza-hover);
}
header{
  background-color: var(--azul-dnc);
  color: white;
}

.myDiv{
  margin: 123px 0px 140px 0px;
}

.text-nav{
  font-family: var(--fonte-padrao);
  font-weight: 800 !important;
}

.tipografia{
  font-family: var(--fonte-padrao);
  font-size: 50px;
  font-weight: 800;
  line-height: 60.51px;
  text-align: left;
}

.inputTipografia{
  background-color: var(--cinza-hover) !important;
}

.textTipografia{
  font-family: var(--fonte-padrao);
  font-size: 20px;
  font-weight: 400;
  line-height: 30.26px;
  text-align: left;
}

.tipografiaDoTexto{
  font-family: var(--fonte-padrao);
  font-size: 20px;
  font-weight: 800;
  line-height: 24.2px;
  text-align: left;
}

.pd-section{
  margin-top: 463px;
}
.pd-div{
  margin-bottom: 213px;
}

.border-dnc{
  border: 1px solid;
  border-color: var(--azul-dnc);
}

.bg-dnc{
  background-color: var(--azul-dnc);
}

/* Footer */
footer{
  width:100%;
  background-color:var(--azul-dnc);
}

footer>div{
  height:35px;
  display:flex;
  justify-content: flex-end;
  margin:0px;
  /* padding:10px */
}

footer>div>a{
  font-family: var(--fonte-padrao);
  font-size: 18px;
  font-weight: 600;
  color:white;
  text-decoration: none;
  padding: 5px;
}

footer>div>a:first-child{
  border-right: 3px solid white;
}
